* {
  box-sizing: border-box;

  /* 禁止文字选中 */
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Webkit浏览器（Chrome/Safari） */
::-webkit-scrollbar {
  width: 0; /* 隐藏滚动条 */
  background: transparent; /* 透明滚动条 */
}

html,
body,
#root {
  height: 100%;
  color: #333;
}

img {
  width: 100%;
  display: block;
}
