* {
  box-sizing: border-box;

  /* 禁止文字选中 */
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  color: #333;
}

img {
  width: 100%;
  display: block;
}

.icon-icon_pagedown:before {
  content: "\e622";
}

.icon-icon_play:before {
  content: "\e634";
}

.icon-icon_play_1:before {
  content: "\e665";
}

.icon-playlist_icon_add:before {
  content: "\e62d";
}

.icon-bar_icon_heart:before {
  content: "\e61b";
}

.icon-bar_icon_pre:before {
  content: "\e61e";
}

.icon-bar_icon_play_1:before {
  content: "\e636";
}

.icon-bar_icon_next:before {
  content: "\e61d";
}

.icon-bar_icon_list:before {
  content: "\e63b";
}

.icon-bar_icon_loop:before {
  content: "\e63d";
}

.icon-bar_icon_random:before {
  content: "\e632";
}

.icon-bar_icon_playlistfuzhi:before {
  content: "\e65e";
}

.icon-bar_icon_pause:before {
  content: "\e62e";
}

.icon-bar_icon_volume:before {
  content: "\e631";
}

.icon-bar_icon_mute:before {
  content: "\e644";
}
